<h1>Edit article</h1>
<% if @article.errors.any? %>
<h2>the following errors prevented to save</h2>
    <ul>
        <% @article.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
        <% end %>
    </ul>
 <% end %> 
<%= form_with(model: @article, local: true) do |f| %>
   
    <p>
    <%= f.label :TITLE %></br>
    <%= f.text_field :title %>
    </p>
    <p>
    <%= f.label :description %></br>
    <%= f.text_area :description %>
    </p>
    <p> <%= f.submit %> </p>
 <% end %>
   